
.desplegable-mobile-menu {
    background-color: #fff;
    
}

.desplegable-mobile-menu__header {
    display: flex;
    flex-direction: column;
    background-color: var(--amarillo);
    padding: 12px 15px;
}

.user-bienvenida {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bienvenida p:first-child{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}

.bienvenida p:nth-child(2) {
    font-size: 14px;
    color: rgba(0, 0, 0, .45);
}

.user-bienvenida img {
    width: 52px;
    border-radius: 50%;
    overflow: hidden;
}

.ingreso-cuenta {
    width: 100%;
    display: flex;
    padding: 0 20px 0 67px;
    justify-content: flex-end;
    gap: 4px;
}

@media (max-width: 450px) {
    .desplegable-mobile-menu__header {
        padding: 12px 15px 5px;
    }

    .ingreso-cuenta {
        padding: 15px 0;
        justify-content: center;
    }
}


.ingreso-cuenta button {
    background-color: #fff;
    width: 50%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--azul);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.ingreso-cuenta button:first-child {
    background-color: var(--azul);
    color: #fff;
}

.ingreso-cuenta button:nth-child(2) {
    color: var(--azul);
}


.desplegable-mobile-menu__anchors {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    
}

@media screen and (max-width: 450px) {
    .ingreso-cuenta {
        padding-right: 5px;
    }
}