.filtros-search-mobile {
    display: none;
}


.filtros-search {
    width: 100%;
    max-width: 292px;
    color: #333;
}

.filtros-search h1 {
    font-size: 26px;
    font-weight: 700;
    text-transform: lowercase;
}

.filtros-search h1::first-letter {
    text-transform: capitalize;
}

.cantidad-resultado {
    font-size: 14px; 
    margin-bottom: 40px; 
}

.available-filters-container {
    margin-top: 35px;
}

.available-filters-container h2 {
    font-size: 15px;
    margin: 20px 0px 10px;
}

.available-filters-container p {
    font-size: 13px;
    margin-bottom: 7px;
}

.available-filters-container p:hover {
    cursor: pointer;
}

.available-filters-container p span {
    color: #999;
}

.available-filters-container a {
    font-size: 13px;
    text-decoration: none;
    color: var(--azul);
}

@media screen and (max-width: 1069px) {
    .filtros-search {
        max-width: 238px;
    }
}

@media screen and (max-width: 913px) {
    .filtros-search {
        display: none;
    }
    .filtros-search-mobile {
        display: flex;
        width: 100%;
        box-shadow: var(--shadow-container);
    }
    .filtros-search-mobile button {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: none;
        background-color: #fff;
        color: rgba(0,0,0, .6);
        font-weight: 700;
    }

    .filtros-search-mobile button svg {
        width: 20px;
    }
}