
.characteristics-section {
    margin: 0 10px 10px 75px;
    padding: 35px 0 45px;
    border-top: 1px solid rgba(0,0,0, .1);
    border-bottom: 1px solid rgba(0,0,0, .1);
    max-width: 700px;
}

.characteristics-section h2 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
    margin-bottom: 20px;
}

.characteristics-section table {
    width: 100%;
    max-width: 755px;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 8px;
    border-spacing: 0;
    overflow: hidden;
}

.characteristics-section table tbody tr {
    margin: 0;
    max-width: 625px;
}

.characteristics-section table tbody tr th, .characteristics-section table tbody tr td  {
    text-align: left;
    padding: 15px;
    
}

.characteristics-section table tbody tr td {
    max-width: 625px;
}

.characteristics-section table tbody tr th {
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, .9);
}

.negro1 {
    background-color: #ebebeb;
}

.negro2 {
    background-color: #f5f5f5;
}



