/* Menu superior */
.nav {
    background-color: var(--amarillo);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}

.nav__top {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2px 30px;
    
}

.nav__top-marca {
    width: 100%;
    max-width: 780px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.logo {
    width: 135px;
}

.form {
    display: inherit;
    background-color: #fff;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border-left: 1px solid #dedbdb;
    border-bottom: 1px solid #dedbdb;
    border-right: 1px solid #dedbdb;
    overflow: hidden;
}

.form input {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 1rem;
    color: rgb(128, 128, 128);
    letter-spacing: .5px;
}

.form input::placeholder {
    color: #d3d3d3;
    font-size: .95rem;
}

.form input:focus {
    outline: none;
}

.form__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-left: 1px solid #d7d2d2;
    padding-bottom: 5px;
    
}

.lupa {
    width: 20px;
}

.propaganda a img {
    width: 350px;
}

/* menu inferior */

.nav__main {
    padding: 2px 35px 0px 22px;
}

.nav__top-first {
    display: flex;
    gap: 40px;
    align-items: end;   
}

.btn-location {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 3px 5px 3px 3px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

.btn-location:hover {
    outline: 1px solid #9a9a9a99;
    cursor: pointer;
}

.btn-location img {
    width: 25px;
}

.btn-location__sending-to {
    text-align: left;
}

.btn-location__sending-to p:first-child {
    color: #333399;
    font-size: 11px;
}

.nav-item-container ul{
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 14px;
    align-items: end;
}

.nav-item-container ul li {
    display: inherit;
    align-items: center;
    color: #33333399;
    padding-bottom: 8px;
}

.nav-item-container ul li a {
    text-decoration: none;
    color: #33333399;
}

.li-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    position: relative;
}

.li-img span {
    cursor: pointer;
}

.li-img img {
    width: 15px;
}

.li-img .menu-desplegable {
    z-index: 10;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 260px;
    background-color: #333;
    top: 24px;
    left: -75px;
    border-radius: 5px;
    list-style: none;
    padding: 20px 0;
    gap: 0;
    opacity: 0;
    animation: aparicionTenue 1s ease;
}

.menu-desplegable::before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #333;
    transform: rotate(45deg);
    top: -5px;
    left: 150px;
}

@keyframes aparicionTenue {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.li-img:hover .menu-desplegable {
    display: flex; 
    opacity: 1; 
}

.menu-desplegable li {
    width: 100%;
    padding: 15px 30px;
    cursor: pointer;   
}

.menu-desplegable li:hover {
    background-color: var(--azul);
}

.menu-desplegable li .h-ref{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.carrito-img {
    width: 25px;
    cursor: pointer;
}

.nav__top-second {
     display: flex;
     align-items: end;
     margin-bottom: -6px;
}

/* Responsive */

@media screen and (max-width: 1026px) {

    .nav {
        padding-bottom: 0px;
    }
    .nav__top {
        display: none;
    }
}

.nav-mobile-superior {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    padding: 5px 10px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.nav-mobile-superior .mobile-logo {
    width: 45px;
}

.nav-mobile-superior__input {
    display: flex;
    height: 32px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.lupa-container {
    background-color: #fff;
    width: 32px;
    display: flex;
    justify-content: center;   
}

.nav-mobile-superior__input img {
    width: 20px;   
}

.nav-mobile-superior__input input {
    border: none;
    width: 100%;
}

.nav-mobile-superior__input input::placeholder {
    color: #d3d3d3;
    font-size: 15px;
}

.nav-mobile-superior__input input:focus {
    outline: none;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    padding: 19px 10px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #33333399;    
}

.btn-mobile__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-mobile img {
    width: 15px;
}

@media screen and (min-width: 1027px) {
    .nav-mobile-superior {
        display: none;
    }

    .btn-mobile {
        display: none;
    }

    .dropdown-mobile {
        display: none;
    }
}


