/* Menu superior */
.nav {
    background-color: var(--amarillo);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    z-index: 15;
    position: relative;
}

.nav__top {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2px 30px;
}

.nav__top-marca {
    width: 100%;
    max-width: 780px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.meli-logo {
    width: 135px;
}

.form {
    display: inherit;
    background-color: #fff;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1.5px solid #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
}

#search-products {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 1rem;
    color: rgb(128, 128, 128);
    letter-spacing: .5px;
}

#search-products::placeholder {
    color: #d3d3d3;
    font-size: .95rem;
}

#search-products:focus {
    outline: none;
}

/* Si dentro de .form existe algún elemento que tenga el focus activo entonces...  */
.form:focus-within {
    border-color: var(--azul);
}

.form__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-left: 1px solid #d7d2d2;
    padding-bottom: 5px;
    cursor: pointer;  
}

.lupa {
    width: 20px;
}

.propaganda a img {
    width: 350px;
}

/* menu inferior */

.nav__main {
    padding: 2px 35px 0px 22px;
}

.nav__top-first {
    display: flex;
    gap: 40px;
    align-items: end;
}

.btn-location {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: -2px;
}

.btn-location:hover {
    outline: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.btn-location img {
    width: 25px;
}

.btn-location__sending-to {
    text-align: left;
}

.btn-location__sending-to p:first-child {
    color: rgba(0, 0, 0, .7);
    font-size: 11px;
}

.btn-location__sending-to p:nth-child(2) {
    margin-top: -5px;
}

.nav-item-container ul{
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 14px;
    align-items: end;
    margin-bottom: 3px;
}

.nav-item-container ul li {
    display: inherit;
    align-items: center;
    color: #33333399;
    padding-bottom: 8px;
}

.nav-item-container ul li a {
    text-decoration: none;
    color: #33333399;
}

.li-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    position: relative;
}

.li-img span {
    cursor: pointer;
}

.li-img img {
    width: 15px;
}

.li-img .menu-desplegable {
    z-index: 40;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 260px;
    background-color: #333;
    top: 24px;
    left: -75px;
    border-radius: 5px;
    list-style: none;
    padding: 20px 0;
    gap: 0;
    opacity: 0;
    animation: aparicionTenue .5s ease;
}

.menu-desplegable::before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #333;
    transform: rotate(45deg);
    top: -5px;
    left: 150px;
}

@keyframes aparicionTenue {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Aparición de menu desplegable */

.li-img:hover .menu-desplegable {
    display: flex; 
    opacity: 1; 
}

/* ++++++++++++++++++++++++  */

.menu-desplegable li {
    width: 100%;
    padding: 15px 30px;
    cursor: pointer;   
}

.menu-desplegable li:hover {
    background-color: var(--azul);
}

.menu-desplegable li .h-ref{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

#login-nav li a {
    color: #000;
}

.relative-position {
    position: relative;
    height: 25px;
}
.carrito-img {
    width: 25px;
    cursor: pointer;
}

.cant-products-cart {
    min-width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: 15px;
    font-size: 10px;
    color: #fff;
    background-color: rgb(217,0,0);
    border-radius: 3px;

}

.nav__top-second {
     display: flex;
     align-items: end;
    margin-top: 2px;
}

/* Responsive */

@media screen and (max-width: 1039px) {

    .nav {
        padding-bottom: 0px;
    }
    .nav__top {
        display: none;
    }
}

.nav-mobile-superior {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    padding: 5px 10px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.nav-mobile-superior .mobile-logo {
    width: 45px;
}

.nav-mobile-superior__input {
    display: flex;
    height: 32px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.lupa-container {
    background-color: #fff;
    width: 32px;
    display: flex;
    justify-content: center;   
}

.nav-mobile-superior__input img {
    width: 20px;   
}

.nav-mobile-superior__input input {
    border: none;
    width: 100%;
}

.nav-mobile-superior__input input::placeholder {
    color: #d3d3d3;
    font-size: 15px;
}

.nav-mobile-superior__input input:focus {
    outline: none;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    padding: 19px 10px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #33333399;    
}

.btn-mobile__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-mobile img {
    width: 15px;
}

@media screen and (min-width: 1040px) {
    .nav-mobile-superior {
        display: none;
    }

    .btn-mobile {
        display: none;
    }

    .dropdown-mobile {
        display: none;
    }
}


