
.ofertas_section {
    height: 470px;
    width: 90%;
    max-width: 1185px;
    margin: auto;
    margin-top: 55px;
}

.ofertas-title {
    display: flex;
    gap: 15px;
    align-items: end;
    margin-bottom: 16px;
}

.ofertas-title__h2 {
    color: #666;
    font-weight: 400;
}

.ofertas-title__anchor {
    text-decoration: none;
    color: var(--azul);
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 2px;
}

.mySwiper {
    height: 470px;
    flex-wrap: wrap;
}

.mySwiper .swiper-button-next {
    top: 30% !important;
    z-index: 1000;
}

.mySwiper .swiper-button-prev {
    top: 30% !important;
}
/* 
.mySwiper, swiper-container {
    width: 90% !important;
    margin: auto !important;
    max-width: var(--max-width) !important;
} */