.products-comparison {
    position: fixed;
    width: 95%;
    max-width: 1100px;
    max-height: 80vh;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 99999;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.products-comparison__btn-ctn {
    width: 100%;
    display: flex;
    justify-content: end;
}

.products-comparison__btn-ctn button {
    padding: 5px 10px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

.products-comparison__btn-ctn button:hover {
    background-color: #d90b0b;
}

.products-comparison table {
    display: block;
    border-collapse: collapse;
    max-height: 90%; 
    position: relative;
    overflow: auto;
}

.products-comparison table tr th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 140px;
    padding: 13px 10px;
    background-color: #535555;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    
}
.products-comparison table tr th:nth-child(7) {
    padding: 0;
    border-right: 1px solid #9a9c9c;
    
}
.products-comparison table tr th > button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    width: 100%;
    height: 60px;
    border: none;
    cursor: pointer;
    transition: all .5s ease;
}

.products-comparison table tr th > button img {
    filter: drop-shadow(1px 1px 0px black);
    transition: all .5s ease;
}

.products-comparison table tr th > button:after {
    content: 'Vaciar';
    position: absolute;
    padding-top: 5px;
    right: 0px;
    opacity: 0;
    transition: all .5s ease;
}

.products-comparison table tr th > button:hover img {
    margin-right: 50px;
    animation: shaking .6s ease-in infinite;
}

.products-comparison table tr th > button:hover:after {
    right: 50px;
    opacity: 1;
}

@keyframes shaking {
    0% {
        transform: rotateZ(0deg);
    }
    15% {
        transform: rotateZ(50deg);
    }
    30% {
        transform: rotateZ(0deg);
    }
    45% {
        transform: rotateZ(-50deg);
    }
    60% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.products-comparison table tr td {
    border: 1px solid rgba(0,0,0, .1);
    padding: 10px;
    text-align: center;
    font-weight: 600;
}.products-comparison table tr td:nth-child(3), .products-comparison table tr td:nth-child(4), .products-comparison table tr td:nth-child(6) {
    position: relative;
}
.products-comparison table tr td:nth-child(3) > img {
    position: absolute;
    opacity: .1;
    top: 0;
    left: 25px;
}

.products-comparison table tr td:nth-child(3) > img:first-child {
    animation: moneyFall 4s ease-out infinite;
}

.products-comparison table tr td:nth-child(3) > img:nth-child(2) {
    left: 70px;
    top: -10px;
    animation: moneyFall 3.2s ease-in infinite;
}

.products-comparison table tr td a {
    text-decoration: none;
}

.recommended-product {
    background-color: var(--verde);
    color: #fff;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
}

@keyframes moneyFall {
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        opacity: .1;
        transform: rotate(18deg);
    }
    100% {
        top: 80px;
        opacity: 0;
        transform: rotate(0deg);
    }
}

.products-comparison table tr td:nth-child(6) {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-weight: 700;
}
.products-comparison table tr td:nth-child(4) > span {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.products-comparison table tr td:nth-child(4) > img {
    transform: translateY(10px);
    width: 50px;
    opacity: .2;
}

.star-reputation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: drop-shadow(1px 1px 1px #000);
}

.products-comparison table tr td a img {
    max-width: 90px;
    max-height: 90px;
}

.add-to-cart-btn, .delete-btn, .buy-product-btn {
    font-size: 11px;
    width: 120px;
    padding: 7px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: all .5s ease;
    cursor: pointer;
    margin: 0 10px;
}

.add-to-cart-btn {
    background-color: rgb(214,230,254);
    color: var(--azul);
    margin-bottom: 5px;
}

.add-to-cart-btn:hover {
    background-color: rgb(188, 209, 241);
}

.delete-btn {
    background-color: rgba(248, 2, 2, .6);
    color: #fff;
    text-shadow: 1px 1px 0 rgb(36, 34, 34);
}

.delete-btn:hover {
    background-color: rgba(248, 2, 2, .8);
}

.vaciar-lista {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    background-color: rgb(113, 114, 113);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-weight: 700;
}

.check-for-btn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 166, 80, .5);
    display: var(--display);
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgb(159, 156, 156);
    z-index: 999;
}

.check-for-btn span {
    z-index: 999;
    display: block;
    animation: latido .8s ease-in forwards;
    color: #fff;
}

.buy-product-btn {
    background-color: var(--azul);
    color: #fff;
    margin-bottom: 5px;
}

.buy-product-btn:hover {
    background-color: rgb(28, 102, 212);
}

.platinum {
    background-color: rgb(0, 166, 80);
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #4b4a4a;
}

.gold-reputation {
    background-color: #ffd700;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #4b4a4a;
}
.silver-reputation {
    background-color: #c0c0c0;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #4b4a4a;
}

.no-reputation {
    background-color: #2a2929;
    color: #fff;
}

@keyframes latido {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    33% {
        opacity: 1;
        transform: scale(1);
    }
    66% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
}
  