.product-page {
    width: 90%;
    max-width: 1183px;
    margin: auto;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 30px;
    display: flex;
    border: 1px solid rgba(0,0,0, .2);
    border-top: none;
    
}

.product-main-info {
    width: 860px;
    height: 700px;
    display: flex;
    padding: 16px;
}

.product-pictures {
    width: 700px;
    height: 500px;
    background-color: white;
    padding: 16px;
    display: flex;
}

.small-pictures-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-picture {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-picture img {
    max-width: 100%;
    max-height: 90%;
}

.huge-picture-container {
    width: 700px;
    height: 500px;
    padding: 16px;
    margin: 24px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.huge-picture-container img {
    max-width: 100%;
    max-height: 100%;
}

.buying-info {
    width: 325px;
    margin: 16px;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 5px;
    padding: 16px;
}

.buying-info span {
    font-size: 14px;
    color: rgba(0,0,0, .55);
}

.item-title-container {
    display: flex;
    margin-top: 5px;
}

.item-title-container h1 {
    font-size: 20px;
    color: rgba(0,0,0, .9);
    width: 95%;
}

.item-title-container img {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.stars {
    display: flex;
    gap: 2px;
    margin-top: 10px;   
}

.stars span {
    color: var(--azul);
}

.star {
    width: 18px;
    color: var(--azul);
}

.pago-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.pago-container span {
    color: rgba(0,0,0, .9);
}

.pago-container span:first-child {
    font-size: 36px;
    font-weight: 300;
}

.pago-container span:nth-child(2) {
    font-size: 16px;
}

.pago-container a {
    text-decoration: none;
    color: var(--azul);
    font-size: 14px;
    margin-top: 5px;
}

.entrega-container {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.entrega-icon {
    width: 20px;
}

.entrega-container div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: -4px;
}

.entrega-container div span:first-child {
    font-size: 16px;
    font-weight: 600;
}

.entrega-container div span:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0, .55);
}

.entrega-container div a {
    font-size: 14px;
    font-weight: 400;
    color: var(--azul);
    text-decoration: none;
}

.arrow-turn-down {
    transform: rotate(90deg);
    color: var(--verde);
}

#devolucion {
    color: var(--verde);
}

.buying-info p {
    margin-top: 25px;
    font-weight: 600;
    color: rgba(0,0,0, .9);
}

.btn-container {
    margin-top: 20px;
    position: relative;
}

.btn-cointainer__btn {
    border: none;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.row-down-icon {
    color: var(--azul);
    width: 12px;
    margin: 0 10px 0 10px;
    transition: .3s all; 
}

.row-down-icon.rotate {
    transform: rotate(180deg);
}

.quantity-items {
    width: 200px;
    display: none;
    flex-direction: column;
    box-shadow: 1px 1px 8px 0px rgba(0,0,0, .2);
    background-color: #fff;
    position: absolute;
    top: 35px;
    z-index: 10;
}

/* -- For btn-container button --  */
.quantity-items.flexing {
    display: flex;
}
/* ------------------------------  */

.quantity-items span {
    padding: 14px 16px;
    font-size: 16px;
    color: rgba(0,0,0, .9);
    cursor: pointer;
}

.quantity-items span:hover {
    background-color: rgba(0,0,0, .05);
}

.quantity-items__greater {
    width: 85%;
    margin: auto;
    padding: 25px 10px;
}

.quantity-inputs-container {
    display: flex;
    padding: 10px;
    border: 2px solid var(--azul);
    border-radius: 6px;
}

.quantity-items__greater input:first-child {
    width: 80px;
    border: none;  
}

.quantity-items__greater input:first-child::-webkit-inner-spin-button,
.quantity-items__greater input:first-child::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.quantity-items__greater input:first-child:focus {
    outline: none;
}

.quantity-items__greater input:nth-child(2) {
    font-size: 12px;
    padding: 4px 7px;
    background-color: var(--azul);
    color: #fff;
    border: none;
    border-radius: 5px;
}