
.main-container {
    display: block;
    width: 224px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    box-shadow: var(--shadow-container);
    background-color: #fff;
    text-decoration: none;
}

#img-container {
    height: 224px;
    width: 224px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container__heart {
    display: block;
   position: absolute;
   top: 15px;
   right: 15px;
   background-color: hsla(0,0%,100%,.7);
   display: none;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   overflow: hidden;
}

#img-container__heart-img{
    width: 20px;
    height: 20px;
    opacity: 1;
}

#product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.separator-line {
    width: 100%;
    height: 1px;
    background-color: var(--background);   
}

.info-container {
    min-height: 125px;
    margin-bottom: 9px;
    padding: 15px 15px;
}

.full-price {
    display: flex;
    gap: 15px;
}

.full-price span:first-child {
    font-size: 21px;
    font-weight: bold;
    color: #464646;
}

.full-price span:nth-child(2) {
    color: var(--verde);
    font-size: 18px;
}

.info-container span:nth-child(2) {
    margin-top: 5px;
    color: var(--verde);
    display: inline-block;
    font-size: 13px;
}

.info-container span:nth-child(3) {
    display: block;
    color: var(--verde);
    font-weight: 700;
    font-size: 14px;
}


.info-container span:nth-child(4) {
    font-size: 14px;
    color: #33333399;
    margin-top: 5px;
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.main-container:hover {
    cursor: pointer;
    box-shadow: 5px 2px 26px -5px #b2aeae;
}

.main-container:hover .img-container__heart {
    display: flex;
}

.main-container:hover .info-container span:nth-child(4) {
    display: -webkit-box;
}