.search-results-page {
    width: 100%;
    max-width: var(--max-width);
    margin: auto; 
    padding: 20px 30px;
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 913px) {
    .search-results-page {
        padding: 0;
        flex-wrap: wrap;
    }

    .mostrar {
        display: none;
    }
}