@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --amarillo: #fff159;
  --max-width: 1250px;
  --azul: #3484fa;
  --background: #ebebeb;
  --shadow-container: 0 1px 1px 0 rgb(0 0 0 / 10%);
  --verde: #00a650;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background);
}


